




<footer class="page-footer font-small">

    <div class="footer-copyright text-center py-3">© 2022 Copyright:
      <a href="#"> Anna Liza Ramos</a>
    </div>

</footer>

<!-- MDB -->
<script
  type="text/javascript"
  src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/4.2.0/mdb.min.js"
></script>
<script  type="text/javascript" src="{{ url_for('static', filename='js/brain-effect.js') }}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>