

<!--Just the logo.. Don't mind this-->
    <div class="row   px-5 ">
        <div class="col-lg-6 mt-4">
            <div class="d-flex flex-column ">

            <h1 class="header-label text-primary">
                AGGREGATING ATTENTION, EMOTION AND COGNITIVE
            </h1>
            </div>
            <div class="">
                <p class="text-dark mb-4 ">LOAD AS BASIS OF DEVELOPING REGRESSION RULE-BASED PEDAGOGY FOR ONLINE LEARNER’S</p>
                <br>

                <a href="/start" id="start-upload" class="btn bg-dark text-white btn-lg ">
                    <i class="fas fa-cog fa-1x"></i>   START PROCESSING
                </a>
            </div>
        </div>
        <div class="col-lg-6 ">
            <img src="{{ url_for('static', filename='img/ai.png') }}" class="img-fluid" width="1600">
        </div>
    </div>
